.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

#top-left {
  border-top-left-radius: 15px;
}
#top-right {
  border-top-right-radius: 15px;
}
#bottom-left {
  border-bottom-left-radius: 15px;
}
#bottom-right {
  border-bottom-right-radius: 15px;
}

.status {
  margin-bottom: 50px;
  font-size: 50px;
  letter-spacing: 3px;
  color: orange;
  font-family: "Moonllime";
  /*text-shadow: 0 0 17px orangered;*/
  animation: pulse infinite 1s alternate-reverse;
}
@keyframes pulse {
  from {
    text-shadow: 0 0 17px orangered;
  }
  to {
    text-shadow: 0 0 17px rgb(104, 9, 9);
  }
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.square {
  background: black;
  border: 2px solid orange;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;

  padding: 0;
  text-align: center;
  width: 68px;
}

#squares-grid {
  box-shadow: 0 0 15px orange;
  border-radius: 15px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: black;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
